beautifulsoup4==4.12.3
Flask==3.0.3
lxml==5.2.2
lxml_html_clean==0.1.1
openai==1.30.5
pillow==10.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
regex==2024.5.15
requests==2.32.3
requests-file==2.1.0
# selenium==4.21.0
playwright
setuptools==70.0.0
soupsieve==2.5
urllib3==2.2.1
Werkzeug==3.0.3
webdriver-manager