body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    position: relative;
}

input[type="url"], input[type="password"] {
    width: calc(100% - 50px);
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #F6F6F6;
    font-size: 18px;
}

input[type="submit"], button[type="submit"] {
    padding: 14px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
}
/* 
button[type="submit"] {
    width: 192px;
    margin-left: 10px;
} */

.connected {
    background-color: #d4edda;
    color: #155724;
    padding: 5px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    display: inline-block; 
}

.error-message {
    color: #ff0000;
    margin-bottom: 20px;
}

.report {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
    white-space: pre-wrap;  /* Ensure the markdown content is readable */
}